<main class="card">
    <img src="images/bg-pattern-card.svg" alt="" aria-hidden="true">

    <img class="card-image" src="images/image-victor.jpg" width="96" height="96" alt="">

    <h1>Victor Crest <span>26</span></h1>
    <h2>London</h2>


    <footer>
        <dl>
            <dt>Followers</dt>
            <dd>80K</dd>
        </dl>

        <dl>
            <dt>Likes</dt>
            <dd>803K</dd>
        </dl>

        <dl>
            <dt>Photos</dt>
            <dd>1.4K</dd>
        </dl>
    </footer>

</main>